

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border: 5px solid red;
  height: 90vh;

}

.login-container{
  height: 400px;
  width: 400px;
  margin: 400px;
  padding: 20px;
  padding-bottom: 50px;
  border:2px solid green;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;

}
input{
  margin-top: 150x;
  display: block;
  margin: auto;
  height:40px;
  border-radius: 5px;
  width: 100%;
  outline: none;
  cursor: pointer;

}
button{
  display: block;
  margin: auto;
  height: 40px;
  width: 250px;
  color: white;
  background: linear-gradient(180deg, #625BF7 0%, #463EEA 100%);
  border-radius: 5px;
  cursor: pointer;
}

.textE{
  color: #463EEA;
  display: block;
  margin-bottom: 10px;
}


.error-message {
  color: red;
}

.profile-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label{
  display: block;
  margin-bottom: -10px;

}